#logo-png {
  padding: 10px;
  width: 210px;
}

th {
  background-color: $nav-bg;
}

td em {
  color: #666;
}

.page-wrapper > .content blockquote {
  padding: 1em !important;
  font-size: 150%;
  font-weight: bold;
}
